body {
    background-color: #1f1f1f;
    margin: 0;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
}
a{
    color: #eee;
    background-color: #101010;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 12px;
}